{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 450px;">
    <h2 class="mb-4 text-center">Log In</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <fieldset class="cv-section">
            <legend>Login</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary w-50">Login</button>
        </div>
    </form>

    <p class="text-center mt-3">
        Need an account? <a href="{% url 'users:register' %}" class="text-primary">Sign Up Now</a>
    </p>
</div>
{% endblock %}
