
{% extends "base.html" %}
{% block content %}
    <h2>Join Today</h2>


{% if form.errors %}
    <div style="color: red;">
        <p>Please correct the errors below:</p>
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %} 
    <fieldset>
        <legend>Sign Up</legend>
        {{ form.as_p }} 
    </fieldset>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
<small>
    Already Have An Account? <a href="{% url 'users:login' %}">Sign In</a>
</small>
{% endblock content %}